.form {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;

	& > * {
		padding: 1rem 0;
	}
}

.form-input {
	padding: 0.5rem;
	border-radius: 3px;
	border: 1px solid var(--font-dark-grey);
	width: 100%;

	&::placeholder {
		color: var(--font-dark-grey);
	}
}

.form-area {
	padding: 0.5rem;
	border-radius: 3px;
	border: 1px solid var(--font-dark-grey);
	width: 100%;
	resize: none;

	&::placeholder {
		color: var(--font-dark-grey);
	}
}

.form-error {
	color: #e53935;
	padding: 5px;
}

.tag-form-container {
	background-color: var(--font-dark-grey);
	padding: 1rem;
}

.btn {
	border: none;
	border-radius: 0.5rem;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;

	&--primary {
		background-color: #5c6bc0;
		color: white;
	}

	&--naked {
		background-color: transparent;
		color: white;
	}
}

.my-facebook-button-class {
	border: none;
	border-radius: 0.5rem;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;
	padding: 1rem 3rem;
	background-color: #5146b5;
	color: white;
	letter-spacing: 1.5px;
	font-weight: bold;
}

.add-note {
	display: flex;
	padding: 0.5rem;
	font-size: 2rem;
	align-items: center;
	cursor: pointer;

	.fa-plus {
		margin-right: 1rem;
	}
}

.tag-list {
	display: flex;
	overflow-x: scroll;

	& > div:first-child {
		margin-left: 1rem;
	}

	& > div {
		margin: 0 0.3rem;
	}
}

.tag-element {
	background-color: var(--tag-primary-color);
	color: white;
	padding: 1rem;
	width: 6rem;
	height: 8rem;
	display: flex;
	overflow-x: scroll;
	-webkit-hyphens: auto;
	hyphens: auto;
	align-items: center;
	justify-content: center;
	border-radius: 0 1rem 1rem 0;
	padding-left: 2rem;
	position: relative;
	word-wrap: break-all;
	text-align: center;
	min-width: 6rem;

	&::after {
		content: " ";
		position: absolute;
		background-color: #d80088;
		width: 1rem;
		height: 100%;
		left: 0;
		top: 0;
	}

	& > .fa {
		font-size: 1.5rem;
		position: absolute;
		left: 0.5rem;
		z-index: 10;
		top: 0.5rem;
	}

	&--new::after {
		background-color: #757575;
	}

	&--new {
		background-color: var(--font-dark-grey);
	}
}

.note-element {
	position: relative;
	border-bottom: 2px solid var(--font-dark-grey);

	&__title {
		font-size: 2rem;
	}

	&__text {
		// margin-bottom: 1rem;
	}

	&__edit {
		position: absolute;
		right: 0;
	}

	& > * {
		margin-bottom: 1rem;
		padding: 0 1rem;
	}
}

.note-footer {
	&__created {
		color: var(--font-dark-grey);
	}
}
